<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./configs/config.ejs") %>

    <title>Sobre</title>
  </head>
  <body>
    <%- include("./layout/header.ejs", {title: 'Sobre'}) %>

    <main class="w-10/12 m-auto my-5 rounded min-h-[473px] flex flex-col gap-10">
      <section class="flex items-center gap-5">
        <img src="https://images.unsplash.com/photo-1537511446984-935f663eb1f4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  class="w-90 h-60 object-cover rounded-lg" alt="illustration-image">
        <article>
          <h1 class="text-bolder text-xl font-poppins mb-5">Minima cum numquam fuga</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint voluptas veniam distinctio. Quod quidem cumque incidunt explicabo facilis voluptatibus officiis molestiae blanditiis quisquam ducimus nobis expedita, earum hic quibusdam quia eos architecto consectetur qui! Minima cum numquam fuga impedit tempore incidunt culpa quo praesentium quia maxime, temporibus, est possimus.</p>
        </article>
      </section>

      <section class="flex items-center gap-5 flex-row-reverse">
        <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  class="w-90 h-60 object-cover rounded-lg" alt="illustration-image">
        <article>
          <h1 class="text-bolder text-xl font-poppins mb-5 text-right">Minima cum numquam fuga</h1>
          <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint voluptas veniam distinctio. Quod quidem cumque incidunt explicabo facilis voluptatibus officiis molestiae blanditiis quisquam ducimus nobis expedita, earum hic quibusdam quia eos architecto consectetur qui! Minima cum numquam fuga impedit tempore incidunt culpa quo praesentium quia maxime, temporibus, est possimus.</p>
        </article>
      </section>


    </main>

    <%- include("./layout/footer.ejs", {title: 'Sobre'}) %>
  </body>
</html>
